:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.comparison-table {
  table-layout: fixed;
  width: 100%;
}

.comparison-col-month {
  width: 14%;
}

.comparison-col-value {
  width: 28.6667%;
}
